.ruta{
  background:#7c2d12;
}

.ruta-card {
  background: #3b1d0f;
  border-radius: 14px;
  margin-top: 20px;
  overflow: hidden;
}

.ruta-header {
  position: relative;
  cursor: pointer;
}

.ruta-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.ruta-header h3 {
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin: 0;
  color: white;
  text-shadow: 0 2px 5px rgba(0,0,0,.7);
}

.ruta-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  padding: 0 15px;
}

.ruta-content.open {
  max-height: 400px;
  overflow-y:auto;
  padding: 15px;
}

.miniaturas {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  overflow-x: auto;
}

.miniaturas img {
  width: 70px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}


