*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:sans-serif;
}

html,body{
  width:100%;
  height:100%;
  overflow:hidden;
  background:#0f172a;
  color:white;
}

#viewport{
  width:100vw;
  height:100vh;
  overflow:hidden;
  position:relative;
}

.grid{
  width:200vw;
  height:200vh;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  position:absolute;
  transition:transform .4s ease;
}

.screen-slot{
  width:100vw;
  height:100vh;
  overflow-y:auto;
}

.screen{
  padding:20px;
  min-height:100vh;
  padding-bottom:100px;
}

button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  cursor:pointer;
  background:#2563eb;
  color:white;
  margin-top:15px;
}

img{
  max-width:100%;
  height:auto;
  display:block;
}


